
*{

    margin: 0%;
    padding: 0%;

}

header, main, footer{

    width: 100%;

}

:root{
    --primaria: rgb(29, 28, 28);
    --secundaria: gray;
    --terciaria:rgb(74, 231, 87);
    --quaternaria:rgb(226, 127, 46);
    --quinquenaria: rgb(226,226,226);


}

nav{
    background-color: var(--primaria);
}

#banner{

    width: 100%;
    height: 500px;
    background-color: var(--quaternaria);
    display: flex;
    justify-content: center;
    background-image: url(/images/ImagensGeral/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#logo{

   
    width: 8%;
}

#logo img{

    width: 150%;
   
    
}
header nav{

    
    background-color: var(--primaria);
    width: 100%;
    height: 100px;
    color: var(--secundaria);
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#navegacao nav a {

    margin: 0px 15px;
    color: var(--secundaria);
    text-decoration: none;
 }
 
 #noticias {

    width: 100%;
    height: 500px;
    background-color: var(--quaternaria);
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    gap: 250px;
    text-align: center;
}

#noticas h1{

    margin-top: 50px;

}


 
#noticias img {

    width: 150px;
    height: 150px; 
    border-radius: 100px 100px;
    margin-top: 50px ;
    
}

#noticias p{

    width: 228px; 
    height: 30px; 
    display: flex;
    flex-direction: column;
    text-align:center; 
    margin: auto;
    margin-top: 20px;
}
#noticias button{

    width: 100px;
    height: 20px;
    display: flexbox;
    align-content: above;
  
}

#agenda{ 

    width: 100%;
    height: 500px;
    margin-bottom: 200px;
    padding: 20px 0px 20px 0px;
    background-color: var(--quinquenaria);
    text-align: center;
}

#gaveta{

    width: 100px;
    height: 15px;
    margin-top: 30px;
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid rgb(190, 146, 110);
    gap: 30px; 
}

#eventos img{

    width: 100px;
    height: auto;
    display: flexbox;
}




footer{
      
}