
*{

    margin: 0%;
    padding: 0%;

}

header, main, footer{

    width: 100%;

}

:root{
    --primaria: rgb(29, 28, 28);
    --secundaria: gray;
    --terciaria:rgb(74, 231, 87);
    --quaternaria:rgb(226, 127, 46);
    --quinquenaria: rgb(226,226,226);


}

nav{
    background-color: var(--primaria);
}

#banner{

    width: 100%;
    height: 500px;
    background-color: var(--quaternaria);
    display: flex;
    justify-content: center;
    background-image: url(/images/ImagensGeral/banner1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#logo{

   
    width: 8%;
}

#logo img{

    width: 150%;
   
    
}
header nav{

    
    background-color: var(--primaria);
    width: 100%;
    height: 50px;
    color: var(--secundaria);
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
#navegacao nav a {

    margin: 0px 50px;
    color: var(--secundaria);
    text-decoration: none;
 }


/* topicos*/

#topicos, #agenda{

    width: 100%;
    background-color: rgb(32, 183, 42); 
    padding: 50px 0px;
    display: flex;
    justify-content: space-between;
    

}

.topico , #eventos{

    width: 30%;
    /* background-color: rgb(136, 163, 204); */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: var(--quinquenaria);
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.topico h3, #eventos  h3{
    text-decoration: underline;
}


.topicoImg{

    width: 150px;
    border-radius: 100%;
    overflow: hidden; /* omite o que estourar na div*/
}

.topicoImg img{

    width: 100%;
    /* border-radius: 100%; */
}

.botao{

    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 5px;
}

/* eventos*/
.dataEvento{

    width: 80px;
    display: flex;
    padding: 10px 10px 10px 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primaria);
}

#eventos{

    flex-direction: row;
    align-items: start;
}

.descEvento h3{

    padding: 10px 0px;
}

.evento .botao{

    width: 50px;
}


/* galeria */
 #galeria{

    width: 100%;
    background-color: rgb(214, 178, 16);
    padding: 10px 0px;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    margin-bottom: 200px;
 }
 #galeria h3{

    padding: 10px 0px;
 }

 #galeriaImagens{ /*pai*/

    width: 100%;    
    padding: 10px 0px;
    display: flex;
    flex-wrap:wrap-reverse;
    
    
 }

 .galeriaImagem{ 

    width: 20%;
    height: 200px;
    background-image: url(../images/ImagensGeral/bike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  
 }


 #galeriaImg1{

 background-image: url(../images/ImagensGeral//193013_10150115455117379_22764457378_6771398_1578764_o.jpg);

 }

 #galeriaImg2{

background-image: url(../images/ImagensGeral/275-bike.jpg);
   
}

#galeriaImg3{

 background-image: url(../images/ImagensGeral/c9b431a8cbe5b1ff93d152cf6e3ebf16.jpg);

 }

 #galeriaImg4{

background-image: url(../images/ImagensGeral/foto6.jpg);
   
}

#galeriaImg5{

background-image: url(../images/ImagensGeral/foto3.jpg);

}

#galeriaImg6{

background-image: url(../images/ImagensGeral/bike\ na\ rua.jpg);

}

#galeriaImg7{

background-image: url(../images/ImagensGeral/c4fe9d5ff5faa035af332874882a3932.jpg);
   
}

#galeriaImg8{

background-image: url(../images/ImagensGeral/trabalho-bike.jpg);
   
}

#galeriaImg9{

background-image: url(../images/ImagensGeral/3955999424_c724298299_o.jpg);
   
}

#galeriaImg10{

    background-image: url(../images/ImagensGeral/RTEmagicC_ciclovia_01.jpg.jpg);
   
}


/*  
 #noticias {

    width: 100%;
    height: 500px;
    background-color: var(--quaternaria);
    display: flex;
    flex-wrap: wrap;    
    align-items: center;
    justify-content: center;
    gap: 250px;
    text-align: center;
}
#noticas h1{

    margin-top: 50px;

}
#noticias img {

    width: 150px;
    height: 150px; 
    border-radius: 100px 100px;
    margin-top: 50px ;
    
}
#noticias p{

    width: 228px; 
    height: 30px; 
    display: flex;
    flex-direction: column;
    text-align:center; 
    margin: auto;
    margin-top: 20px;
}
#noticias button{

    width: 100px;
    height: 20px;
    display: flexbox;
    align-content: above;
  
}
#agenda{ 

    width: 100%;
    height: 500px;
    margin-bottom: 200px;
    padding: 20px 0px 20px 0px;
    background-color: var(--quinquenaria);
    text-align: center;
}
#gaveta{

    width: 100px;
    height: 15px;
    margin-top: 30px;
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 5px;
    border: 1px solid rgb(190, 146, 110);
    gap: 30px; 
}
.eventos,h1{

   background-color: cadetblue;
   width: 100%;
   height: auto;
   margin: 2px;
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   text-align: justify;
   margin-top: 30px;

}
.eventos p{
    width: 200px;
}
.eventos img{

    width: 20%;
    height: auto;
    display: inline-block;
    justify-items: flex-start;
}
.galeria{
    background-color: aqua;
    width: 100%;
    height: 800px;
    display:flex;
    justify-content: space-between;
    
}
.galeria img{

    width: 300px;
    height: 200px;
    
}
footer{
      
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    background-color: var(--primaria);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    shape-image-threshold: initial;
    color: var(--quinquenaria);
}
*/


